

          <table class="table_3" style="display: table;line-height: 1.2;margin-bottom: 0;margin-left: -10.7pt;margin-top: 0;text-indent: 0;width: 744pt;">
		<tbody class="calibre1" style="display: table-row-group;line-height: 1.2;vertical-align: middle;"><tr class="tr_7" style="display: table-row;line-height: 1.2;page-break-inside: avoid;vertical-align: inherit;">
			<td class="td_14" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 42.5pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;"> N</p></td>
			<td class="td_15" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 149pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;"> Cognome e Nome </p></td>
			<td class="td_16" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 63.8pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;">Unità Organizzativa </p></td>
			<td class="td_17" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 57.2pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;">Qualifica</p></td>
			<td class="td_18" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 70.3pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;">Matricola </p></td>
			<td class="td_19" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 56.7pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;">Ora entrata</p></td>
			<td class="td_20" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 128pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;">Firma entrata</p></td>
			<td class="td_19" style="background-color: #C0C0C0;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 56.7pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;">Ora uscita</p></td>
			<td class="td_21" style="background-color: #BFBFBF;display: table-cell;line-height: 1.2;padding-bottom: 0;padding-left: 3.5pt;padding-right: 0;padding-top: 0;text-align: inherit;vertical-align: middle;width: 121pt;"><p class="block_14" style="display: block;font-size: 0.52941em;font-weight: bold;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;padding-top: 0;text-align: center;">Firma uscita</p></td>
		</tr>
      
       {% for user in users %}
       
		<tr class="tr_7">
				<td  class="td_22"><p class="block_15">{{ user.name }} </p></td>
				<td class="td_23"><p class="block_16">{{ user.surname }} </p></td>
				<td class="td_24"><p class="block_16"> {{ user.eta }}</p></td>
				<td valign="middle" class="td_25"><p class="block_17">{{ user.id }} </p></td>
				<td class="td_26"><p class="block_17"> </p></td>
				<td class="td_27"><p style="color:#C0C0C0;text-align: center;font-size:30px;" class="block_17">__:__</p></td>
				<td class="td_28"><p class="block_16">&nbsp;</p></td>
				<td class="td_27"><p style="color:#C0C0C0;text-align: center;font-size:30px;" class="block_17">__:__</p></td>
				<td class="td_29"><p class="block_16">&nbsp;</p></td>
			</tr>
                        {% endfor %}
	</tbody></table>

	


